@using _50DersteMvc.Models.Entity
@model List<TBL_MUSTERILER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index", "Musteri", FormMethod.Get))
{
    <p>
        <b>Customer Name to Search :</b> @Html.TextBox("p")
        <input type="submit" value="Search" />
    </p>
}

<table class="table table-bordered">
    <tr>
        <th>CUSTOMER ID</th>
        <th>CUSTOMER NAME</th>
        <th>CUSTOMER SURNAME</th>
        <th>DELETE</th>
        <th>UPDATE</th>
        <th>ALERT</th>

    </tr>
    <tbody>
        @foreach (var mus in Model)
        {
            <tr>
                <th>@mus.MUSTERIID</th>
                <td>@mus.MUSTERIAD</td>
                <td>@mus.MUSTERISOYAD</td>
                <td> <a href="/Musteri/Sil/@mus.MUSTERIID" class="btn btn-danger">DELETE</a></td>
                <td> <a href="/Musteri/MusteriGetir/@mus.MUSTERIID" class="btn btn-success">UPDATE</a></td>
                <td> @Html.ActionLink("SİL BUTONU", "SIL", new { id = mus.MUSTERIID }, new { @class = "btn btn-warning", onclick = "return confirm('Gerçekten Silmek İstiyor Musunuz?')" })</td>
            </tr>
        }
    </tbody>
</table>

<a href="/Musteri/YeniMusteri/" class="btn btn-primary">Add New Customer</a>

